---

---

<main class="grid grid-cols-1 gap-20 mx-16 my-20 md:grid-cols-2">
  <div class="m-4">
    <h2 class="text-4xl font-bold mb-4 text-white">Qui suis-je ?</h2>

    <p class="text-lg text-white">
      Étudiant en troisième année de MMI à Limoges, je me spécialise dans le
      webdesign, la conception graphique et le design d'expérience (UX).
    </p>

    <ul class="text-lg font-bold text-white flex gap-10 mt-10">
      <li
        class="bg-pink-600 p-2 rounded-xl hover:scale-105 transition-transform"
      >
        Web-Design
      </li>
      <li
        class="bg-pink-600 p-2 rounded-xl hover:scale-105 transition-transform"
      >
        Infographie
      </li>
      <li
        class="bg-pink-600 p-2 rounded-xl hover:scale-105 transition-transform"
      >
        UX / UI
      </li>
    </ul>
  </div>
  <div class="relative">
    <img src="/fond-profil.png" alt="" class="scale-125 md:scale-100" />
    <img
      src="/dragan-png.png"
      alt=""
      class="absolute -top-36 scale-75 md:scale-50 md:-top-[275px]"
    />
  </div>
</main>
